.container {
  background: #f8f8f8;
  height: 100vh;
  overflow: hidden;

  .content {
    overflow: hidden;
    background-color: #f8f8f8;
    height: 100%;
    display: flex;
    flex-direction: row;

    .leftPane {
      width: 440px;
      overflow: auto;
    }

    .rightPane {
      height: 100%;
      flex: auto;
      padding-left: 20px;
    }
  }

}


.schedulerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .schedulerBody {
    width: 100%;
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    .schedulerTableHeader {
      display: flex;
      background: white;
      .timeHeaderContainer {
        vertical-align: top;
        border: 1px solid #c5c5c5;
        border-left: none;
        .timeHeaderScrollArea {
          overflow: hidden;
        }
      }
      .resourceTitle {
        font-size: 16px;
        font-weight: bold;
        padding-left: 17px;
        color: #222222;
        border: 1px solid #c5c5c5;
      }
    }
    .schedulerBoardScrollArea {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      .schedulerBoard {
        padding: 0;
        margin: 0;
        display: flex;

        .resourceList {
          border-top: none;
          margin: 0;
          padding: 0;
          border-right: 1px solid #c5c5c5;
          border-left: 1px solid #c5c5c5;
          border-top: 1px solid transparent;
          background-color: white;

          & > li {
            list-style: none;
            border-bottom: 1px solid #c5c5c5;
            padding-left: 10px;
            font-weight: bold;
            color: #666666;
            transition: height 0.2s;

            &:last-of-type {
              border-bottom-color: #c5c5c5;
            }
          }
        }
        .schedulerView {
          background-color: white;
        }
      }
      :global {
        .calendar-action-header {
          color: #222222;
          text-align: right;
        }

        .scheduler-view {
          th.header3-text {
            padding-top: 10px;
          }

          .event-item {
            user-select: none;
          }
        }

        .timeMark {
          text-align: left;
          position: absolute;
          pointer-events: none;
          top: 0;
          width: 100px;
          z-index: 10;
          height: 100%;
          background: rgba(18, 82, 103, 0.15);
          border-right: 1px solid #e3165b;
          color: #e3165b;
          font-size: 10px;

          .timeMarkPoint {
            height: 6px;
            width: 6px;
            position: absolute;
            background: #e3165b;
            border-radius: 3px;
            right: -3.5px;
            top: 0;
          }

          .timeText {
            position: absolute;
            right: -25px;
          }
        }

        .round-all {
          border-radius: 5px;
        }

        .resource-view {
          border: 1px solid transparent;
          border-right: 1px solid #e9e9e9;

          .resource-table {
            tr, td {
              border: none;
            }

            th.header3-text {
              font-family: Open Sans;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 16px;
              letter-spacing: 0.53px;
              text-transform: uppercase;
            }

            div.header2-text {
              background-color: white;
              margin: 10px 0;
              padding: 10px 0;
            }
          }
        }

        .scheduler-bg-table {
          td {
            pointer-events: none;

            &:hover {
              background-color: #7f7f7f !important;
            }
          }
        }

        .scheduler-cell {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .schedulerContent {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    position: relative;
  }
}

.header3-text {
  font-size: 14px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: white;
  border-bottom: none;
  padding-top: 0 !important;

  &:first-of-type {
    border-left: none;
  }
}

.scheduler-bg-table {
  width: 100%;

  tr {
    td {
      background-color: white;
      cursor: pointer;

      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        border-right: none;
      }
    }
  }

  tr:first-of-type {
    td {
      border-top-color: #c5c5c5
    }
  }
}

.scheduler-cell {
  .scheduler-view {
    border-top: none;
    border-right: 1px solid #c5c5c5;

    & > div {
      border-bottom: none !important;
    }
  }
}