.container {
  background: #f8f8f8;
  height: 100vh;
  overflow: hidden;

  .content {
    overflow: hidden;
    background-color: #f8f8f8;
    height: 100%;
    display: flex;
    flex-direction: row;

    .leftPane {
      width: 440px;
      overflow: auto;
    }

    .rightPane {
      height: 100%;
      flex: auto;
      padding-left: 20px;
    }
  }

}


.schedulerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .schedulerBody {
    width: 100%;
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    .schedulerTableHeader {
      display: flex;
      .resourceTitle {
        border: 1px solid #c5c5c5;
        //border-bottom: 1px solid #c5c5c5;
      }
    }
    .schedulerTableBody {
      flex: 1;
      overflow: auto;
      display: flex;
      :global {
        .calendar-action-header {
          color: #222222;
          text-align: right;
        }

        .scheduler-view {
          th.header3-text {
            padding-top: 10px;
          }

          .event-item {
            user-select: none;
          }
        }

        .timeMark {
          text-align: left;
          position: absolute;
          pointer-events: none;
          top: 0;
          width: 100px;
          z-index: 10;
          height: 100%;
          background: rgba(18, 82, 103, 0.15);
          border-right: 1px solid #e3165b;
          color: #e3165b;
          font-size: 10px;

          .timeMarkPoint {
            height: 6px;
            width: 6px;
            position: absolute;
            background: #e3165b;
            border-radius: 3px;
            right: -3.5px;
            top: 0;
          }

          .timeText {
            position: absolute;
            right: -25px;
          }
        }

        .round-all {
          border-radius: 5px;
        }

        .resource-view {
          border: 1px solid transparent;
          border-right: 1px solid #e9e9e9;

          .resource-table {
            tr, td {
              border: none;
            }

            th.header3-text {
              font-family: Open Sans;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 16px;
              letter-spacing: 0.53px;
              text-transform: uppercase;
            }

            div.header2-text {
              background-color: white;
              margin: 10px 0;
              padding: 10px 0;
            }
          }
        }

        .scheduler-bg-table {
          td {
            pointer-events: none;

            &:hover {
              background-color: #7f7f7f !important;
            }
          }
        }

        .resource-list, .scheduler-cell {
          margin: 0;
          padding: 0;
        }
      }
      .schedulerView {
        float: left;
      }
      .resourceList {
        border: 1px solid #c5c5c5;
        border-top: none;
        margin: 0;
        padding: 0;
        float: left;

        & > li {
          list-style: none;
          border-bottom: 1px solid #c5c5c5;
          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }
  }

  .schedulerContent {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    position: relative;
  }
}
